@import url(variables.css);

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
    
}
.main{
    display: flex;
    flex-direction: row;
    gap: 112px;
}
.section_img {
    display: flex;
    /* background: violet; */
    width: 716px;
    height: auto;
    margin-top: 67PX;
    margin-bottom: 0;
    
}
img {
    width: 100%;
}

.txt {
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    gap: 88px;

}
.article_one {
    margin-top: 80px;

    h1{
        font-family: "AvenirLTStd-Heavy";
        font-size: 64px;
        width: 500px;
        height: auto;
    }
    p{
        padding-top: 32px;
        font-family: "AvenirLTStd-Roman";
        font-size: 26px;
        width: 500px;
        height: auto;
        padding-bottom: 32px;
        color: var(--color-5);

    }
    button{
        width: 158px;
        height: 54px;
        background: var(--color-2);
        border: none;
        border-radius: 16px;
        font-family: "AvenirLTStd-Heavy";
        font-size: 20px;
        color: var(--color-1);
    }
}
.article_two {

    h2{
        font-family: "AvenirLTStd-Heavy";
        font-size: 32px;
        width: 500px;
        height: auto;
        color: var(--color-4);
    }
    p{
        font-family: "AvenirLTStd-Roman";
        font-size: 24px;
        width: 500px;
        height: auto;
        padding-bottom: 40px;
        color: var(--color-5);
    }
}