@import url(variables.css);

*{

    margin: 0;
    /**/padding: 0;
    /*bordes de la caja*/box-sizing: border-box;
    /* outline: 2px solid red; */
}

.header{
    width: 833px;
    margin: 64px;
    h1{
        font-family:"AvenirLTStd-Heavy";
        font-size: 72px;
        color: var(--color-1);
    }
}
.main{
    display: flex;
    flex-direction:row;
    width: 1312px;
    gap: 16px;
    /* margin-left: 64px;
    margin-right: 64px;
    margin-bottom: 63px;
    margin-top: 64px; */
    margin: 64px;
    .article_main{
        width: 316px;
        display: flex;
        flex-direction:column;
        h3{
            color: var(--color-3);
            font-family:"AvenirLTStd-Heavy";
            font-size: 40px;
            padding-bottom: 12px;
        }
        p{
            color: var(--color-2);
            font-family:"AvenirLTStd-Roman";
            font-size: 24px;
            padding-bottom: 24px;
        }
        img{
            width: 316px;
            height: 402px;
        }
    }
}