:root{

    --color-1: #363830;
    --color-2: rgba(255, 255, 255, 0.3);
    --color-3: hsla(0, 0%, 100%, 0.3);
    --color-4: #C8CCCF;
    --color-5: #97A3A3; 
    --color-6: #FFFFFF; 



}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../storage/font/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: "Poppins-Regular";
    src: url(../storage/font/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins-Medium";
    src: url(../storage/font/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../storage/font/Poppins-Bold.ttf);
}
