:root{

    --color-1: #FFFFFF;
    --color-2: #252525;
    --color-4: #252525(0, 0%, 100%, 0.550);
    --color-5: #252525(0, 0%, 100%, 0.800);


}

@font-face {
    font-family: "AvenirLTStd-Heavy";
    src: url(../storage/font/AvenirLTStd-Heavy.otf);
}
@font-face {
    font-family: "AvenirLTStd-Roman";
    src: url(../storage/font/AvenirLTStd-Roman.otf);
}
