:root{


    --color-1: #FFFFFF;
    --color-2: #000000;
    --color-3: #252525;  
}

@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url(../storage/font/Montserrat/Montserrat-ExtraBold.ttf);
}


@font-face {
    font-family: "Montserrat-Regular";
    src: url(../storage/font/Montserrat-Regular.ttf);
}


@font-face {
    font-family: "Montserrat-Medium";
    src: url(../storage/font/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url(../storage/font/Montserrat/Montserrat-SemiBold.ttf);
}


@font-face {
    font-family: "Montserrat-Thin";
    src: url(../storage/font/Montserrat-Thin.ttf);
}
