<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>nature</title>
</head>
    <body>
        <main class="container">
            <div class="principal">
                <h1>Discover the beauty around the world</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu.</p>
                <button>Get started</button>
            </div>
            <div class="img1">
                <img src="storage/img/Image left.png" alt="" srcset="">
            </div>
            <div class="img2">
                <img src="storage/img/Image right.png" alt="" srcset="">
            </div>
            <div class="tresimg">
                <img src="storage/img/Image card.png" alt="" srcset="">
            </div>
            


    
    </main>
</body>
</html>