<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>simple</title>
</head>
    <body>
        <main class="container">
            <div class="principal">
                <h1>Just that simple</h1>
            </div>
            <div class="cuadro2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget.</p>
                <button>Get started</button>
            </div>
            <div class="img">
                <img src="storage/img/hero Image.png" alt="" srcset="">
            </div>

        </main>

</body>
</html>