:root{

    --color-1: #252525;
    --color-2: #FFFFFF;
}

@font-face {
    font-family: "AvenirLTStd-Heavy";
    src: url(../storage/font/AvenirLTStd-Heavy.otf);

}

@font-face {
    font-family: "AvenirLTStd-Roman";
    src: url(../storage/font/AvenirLTStd-Roman.otf);
}