@import url(variables.css);

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    position: relative;
    margin: 0 auto;
    width: 1440px;
}

.main {
    width: 1440px;
    height: 1024px;

    img {
        width: 100%;
        height: 100%;
    }
}

.section-1 {
    position: absolute;
    width: 724px;
    height: 518px;
    display: flex;
    flex-direction: column;
    top: 233px;
    left: 120px;
    backdrop-filter: blur(4px);
    border-radius: 24px;
    /* justify-content: center;
    align-items: center; */
    img{
        width: 80px;
        height: 16px;
        margin-bottom: 24px;
    }
    h1 {
        width: 612px;
        font-family: "AvenirLTStd-Heavy";
        font-size: 64px;
        color: var(--color-2);
        margin-bottom: 40px;
    }
    p {
        width: 586px;
        font-family: "AvenirLTStd-Roman";
        font-size: 26px;
        color: var(--color-2);
        margin-bottom: 40px;

    }
    button{
        width: 182px;
        height: 66px;
        background-color: var(--color-9);
        color: var(--color-8);
        font-family: "Poppins-Regular";
        font-size: 24px;
        border-radius: 36px;
        border: none;
    }
}
.section-article{
    position: absolute;
    display: flex;
    flex-direction: row;
    width:1312PX ;
    height: 171px;
    bottom: 62px;
    left: 64px;
    gap: 92px;
    /* background: red; */
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);

    .article-section{
        width: 231px;
        height: 123px;
    }
    img{
        width: 24px;
        height: 24px;
        margin-bottom: 8px;
    }
    h3{
        width: 122px;
        font-family: "AvenirLTStd-Heavy";
        color: var(--color-2);
        font-size: 24px;
        margin-bottom: 8px;
    }
    p{
        width: 231px;
        font-family: "AvenirLTStd-Roman";
        font-size: 18px;
        color: var(--color-2);
    }
}