<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title></title>
</head>

<body>
    <main class="main">
        <section class="txt1">
            <h1>Adventure
                Voyage
                Wandering</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu
                eget. Et integer facilisi. </p>
            <button>Get started</button>
        </section>
        <section class="section-img1">
            <img src="storage/img/images left.png">
        </section>
        <section class="section-img2">
            <img src="storage/img/Star 4.png">
        </section>
        <section class="section-img3">
            <img src="storage/img/image middle.png">
        </section>
        <section class="section-img4">
            <img src="storage/img/images right.png">
        </section>
        <section class="section-img5">
            <img src="storage/img/Star 3.png">
        </section>
        <section class="txt2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu
                eget.
                Et integer facilisi </p>
            <h2>Trave
                Explore
                Discover </h2>
        </section>
    </main>

</body>

</html>