<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title></title>
</head>
<body>
 <main class="main">
    <img src="storage/img/13.jpg">
    <section class="txt1">
        <h1>Create</h1>
        <h1>your</h1>
        <h1>design</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. </p>
        <button>Explore</button>
    </section>
    <section class="txt2">
        <h3>01</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus.</p>
    </section>
    <section class="txt3">
        <h3>02</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus.</p>
    </section>
    <section class="img1">
        <img src="storage/img/Explosion.png">
    </section>
    <section class="img2">
        <img src="storage/img/Image bottom.png">
    </section>
    <section class="img3">
        <img src="storage/img/Star.png">
    </section>
    <section class="img4">
        <img src="storage/img/Image top.png">
    </section>
    <section class="img5">
        <img src="storage/img/Star.png">
    </section>
    <section class="img6">
        <img src="storage/img/Party.png">
    </section>
 </main>
</body>
</html>